<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Elenco dei corsi</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>Pagina1</li>
                <li>Pagina2</li>
                <li>Pagina3</li>
                <li>Pagina4</li>
                <li>Pagina5</li>
            </ul>
        </nav>
    </header>
<h1>Sono la view per l'action Index del CoursesController</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat tenetur possimus enim ducimus accusantium, dolorum vel reiciendis. Voluptates officia sequi ex unde velit natus, qui harum vitae reiciendis inventore nesciunt.</p>
<p>Magni totam mollitia veniam, consequatur perferendis voluptate fuga veritatis, culpa ipsum perspiciatis quis architecto saepe repellendus commodi voluptatem natus beatae laboriosam voluptatibus? Officia omnis quidem natus quaerat atque perferendis modi.</p>
<p>Mollitia veritatis nobis temporibus dicta officia sunt delectus hic quia similique impedit, a blanditiis minima eveniet voluptates expedita nihil voluptatum cupiditate, corporis enim molestias quasi necessitatibus fugit ratione eum. Nemo.</p>
<p>Placeat ex, aliquam ullam, sapiente perspiciatis tempora ducimus unde nesciunt atque accusamus quasi esse autem, doloribus amet vitae. Minima, eius est. Iste nostrum voluptatem, illum quibusdam possimus error tempora commodi.</p>
<p>Odit dolor quaerat omnis! Accusamus impedit a placeat minus dolorem soluta laborum alias esse tempora, hic blanditiis sint, odit unde voluptatum magni sapiente iure, nemo nihil! Assumenda inventore vel accusamus!</p>

<footer>
    <p>contattaci al numero ...</p>
</footer>
</body>
</html>